section.main__feedback.row
  .feedback__content.col-12.text-center.col-md-10
    p " Vẫn là vẻ bề ngoài vô cùng đơn giản với các tông màu trắng, hồng làm chủ đạo nhưng lại tạo ra sức hút kỳ lạ với những ai cầm trên tay sản phẩm ấy! Với công nghệ cải tiến mới nhất, hãng Rohto. "
    .author__info-box.d-none.d-md-flex
      h5.author__name TUTILE
      p.author__position Giám đốc phát triển sản phẩm 
    i.fa-solid.fa-ellipsis
  .feedback__author.col-12.col-md-2
    img.author__avatar(src="../assets/images/avatar.png", alt="author avatar")
    .author__info-box.d-md-none
      h3.author__name TUTILE
      p.author__position Giám đốc phát triển sản phẩm
