div.blog-card__wrapper {
  @include flex($direction: column, $align: flex-start, $gap: 0.5rem);
  padding: 1rem 1rem;
  .blog-card__image {
    width: 100%;
    margin-bottom: 1rem;
  }
  .blog-card__title {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .blog-card__info {
    width: 100%;
    font-style: italic;
    color: $color-gray-line;
    margin-bottom: 1rem;
  }
  .blog-card__more {
    @include flex($jutify: space-between);
    border-top: 1px solid $color-gray-line;
    padding-top: 0.5rem;
    width: 100%;
    .blog-card__more-link {
      text-decoration: none;
      color: $color-gray-line;
    }
    .blog-card__comment {
      color: $color-gray-line;
    }
  }
  p {
    margin-bottom: 0;
  }
}
