@import "button";

.logo__first-charbox {
  @include flex;
  background-color: $color-main;
  height: 5rem;
  width: 5rem;
  .logo__first-char {
    text-transform: lowercase;
    font-family: $font-Androgyne;
    @include text-style($size: 3.6rem, $color: $color-white, $weight: normal);
    text-align: center;
    padding-bottom: 0.5rem;
  }
  border-radius: 50%;
}
.logo__char {
  font-family: $font-Androgyne;
  font-size: 2.4rem;
  padding-top: 0.5rem;
}

// product mixin
.product__tag {
  font-size: 1.2rem;
  color: $color-gray-line;
}

.product__line {
  width: 5rem;
  height: 0.2rem;
  color: $color-gray-line;
}

.product__price {
  font-size: 1.6rem;
  color: $color-main;
  font-weight: 500;
}

.product_sub-price {
  font-size: 1.2rem;
  color: $color-gray-line;
  font-style: italic;
}

.product__btn-box {
  @include flex($gap: 1rem);
  button {
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    height: 4rem;
    font-size: 1.5rem;
  }
  button * {
    font-size: 1.5rem;
  }
  .btn__add {
    font-weight: 500;
    border-color: $color-gray-line;
  }
  .btn__like {
    background-color: $color-main;
    width: 4rem;
    i {
      color: $color-white;
    }
  }
  .btn__load {
    @extend .btn__add;
    width: 4rem;
  }
}
