.proditem-list,
.product {
  .proditem-list__btn-box,
  .product__btn-box {
    @include flex($gap: 1rem);
    button {
      border-radius: 0.8rem;
      padding: 0.5rem 1rem;
      min-height: 3rem;
      font-size: 1rem;
    }
    button * {
      font-size: 1.2rem;
    }
    .btn__add,
    .btn__like,
    .btn__load {
      @include flex();
    }

    .btn__add {
      font-weight: 500;
      border-color: $color-gray-line;
      &:hover {
        background-color: #fff;
        color: black;
      }
    }
    .btn__like {
      background-color: $color-main;
      width: 3rem;
      i {
        color: $color-white;
      }
      &:hover {
        background-color: $color-main;
        color: white;
      }
    }
    .btn__load {
      @extend .btn__add;
      width: 3rem;
      &:hover {
        background-color: #fff;
        color: black;
      }
    }
  }
}
