.products-page__breadcrumb {
  padding: 1rem 1rem;

  @include responsive($breakpoint: $breakpoint-md) {
    padding: 1rem 18vw;
  }
  @include responsive($breakpoint: $breakpoint-xl) {
    padding: 1rem 20vw;
  }
}

div.product-list__wrapper {
  @extend .products-page__breadcrumb;
}
