- var navLinks = ['Trang chủ', 'Giới thiệu', 'Sản phẩm', 'Tin tức', 'Bản đồ', 'Liên hệ']
- var categories = ['Mỹ phẩm', 'Nước hoa', 'Chăm sóc da', 'Trang sức', 'Dành cho tóc', 'Quà tặng']
- var productTag = ['Đồng hồ', 'Túi', 'Phụ kiện', 'Đồng hồ', 'Sandal', 'Trẻ em', 'Giày', 'Sandal', 'Áo sơ mi', 'Nước hoa', 'Giày', 'Thời trang nữ', 'Trẻ em', 'Thời trang nữ', 'Trẻ em', 'Thời trang nữ']
- var withButton = true
- var withBlur = true
- var navLinks1 = ['Áo khoác', 'Bộ áo liền quần', 'Dresses', 'Quần / Váy','Quần short','Quần jean','Đồ đan','Áo nỉ']
- var navLinks2 = ['Áo cánh / Áo sơ mi', 'Túi xách & Balo', 'Khăn quàng cổ và Foulards','Dệt kim Hát & Gloves','Vở & Socks','Jewerly','Bị bảo vệ','Giày']

- var contactLinks = ['Tầng 4, Tòa nhà Hanoi Group Số 443 Đội Cấn, P. Cổng Vị, Q. Ba Đình, Hà Nội', '(04) 6674 2332 - (04) 3786 8904', '(08) 6680 9686 - Support@bizweb.vn']
- var shippingLinks = ['Mua sắm trực tuyến', 'Đến từ chúng tôi gửi đến', 'Chính sách vận chuyển','Vận chuyển thông tin']
- var supportLinks = ['Câu chuyện của chúng tôi', 'Thanh toán án toàn', 'Tùy chọn vận chuyển', 'Chính sách vận chuyển']
- var InfoLinks = ['Về chúng tôi', 'Điều khoản & điều kiện', 'Chính sách riêng tư', 'Đơn đặt hàng và Returns']
- var AccountLinks = ['Xem giỏ hàng', 'Sản phẩm yêu thích', 'kiểm tra', 'Theo dõi đặt hàng của tôi']

-var isFooter = true
-var isFirstFooter = true
-var footerGroupClass = 'footer__link-group';
-var footerLinksClass = 'footer__links'
-var footerItemClass = 'footer__item'
-var footerLinkClass = 'footer__link'
-var footerTitleClass = 'footer__title'

-var categoryItems = ['MỸ PHẨM', 'TRANG SỨC', 'PHỤ KIỆN', 'NƯỚC HOA'];
-var jewelries = ['Vòng tay', 'Nhẫn', 'Lắc Chân', 'Phụ kiện khác', 'Giày lười']
-var sideBarProductags = ['Túi', 'Phụ kiện', 'Đồng hồ', 'Sandal', 'Trẻ em','Hoa tai', 'Son', 'Nước hoa', 'Giày', 'Sandal']

-var productDes = 'Tự hào được ghi là nằm mà Tiffnay & Co là thành lập, bộ sưu tầm mang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà'

-var subImagesUrl = ["./assets/images/lac-tay-mini-1.png","./assets/images/lac-tay-mini-2.png","./assets/images/lac-tay-mini-3.png","./assets/images/lac-tay-mini-4.png"]

-var productDetailDes = 'Không thể phủ nhận, thời trang và phong cảnh chính là "tuyên ngôn" không lời mạnh mẽ nhất của mỗi người phụ nữ. Do đó, việc mua sắm thời trang trở thành niềm vui, và có khi là nguồn cảm hứng vô tận để phái đẹp sống  vui, sống đẹp hơn trong mắt nửa còn lại của thế giới. Để F5 tủ đồ của mình trước khi những xu hướng ngày một đa dạng hơn trong thế giới thời trang, nhiều chị em không ngần ngại chi tiêu "mạnh tay" để dở hữu những món đồ yêu thích'

-var productDetailColorVals = ['Màu bạc', ' Màu hồng', 'Màu vàng']
-var productDetailSizeVals = [11, 12, 13]
-var productIntroDesDump = 'Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà'

-var accountTableHead = ['Order', 'Date', 'TÌNH TRẠNG THANH TOÁN', 'TỔNG', 'NỢ']
-var order1 = ['#1006','May 13, 2013', 'Đã thanh toán', '350.000đ', '0']
-var order2 = ['#1006','May 13, 2013', 'Thanh toán 50%', '350.000đ', '275.000đ']

-var aboutUsDes = 'Hi, chào các nàng... sau khá nhiều lời hứa thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt. Hi, chào các nàng... sau khá nhiều lời hứa thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.'

-var blogCardDesDump = 'Hi, chào các nàng... sau khá nhiều lời hứa thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.'
-var blogTags = ['Đồng hồ', 'Túi', 'Phụ kiện', 'Sandal', 'Trẻ em', 'Giày', 'Sandal', 'Áo sơ mi', 'Nước hoa', 'Giày']
-var blogDetailDes = 'Hi, chào các nàng... sau khá nhiều lời hứa thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt. Hi, chào các nàng... sau khá nhiều lời hứa thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt. Hi, chào các nàng... sau khá nhiều lời hứa thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.'

-var cartTableHead = ['ẢNH', 'TÊN SẢN PHẨM', 'GIÁ', 'SỐ LƯỢNG', 'TỔNG SỐ', 'XÓA']
-var cartItem = ['../assets/images/nhan-vang.png', 'Lắc tay D&G', '345.000đ', '1', '345.000đ', 'fa-solid fa-trash-can']
