.select-input__wrapper {
  width: 100%;
  .select-input__title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .select-input__item {
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
  }
}
