html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Androgyne";
  src: url("../assets/fonts/UTM-Androgyne.ttf");
}

@font-face {
  font-family: "ViceroyJF";
  src: url("../assets/fonts/UTM-ViceroyJF.ttf");
}
