html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Androgyne";
  src: url("../assets/fonts/UTM-Androgyne.ttf");
}

@font-face {
  font-family: "ViceroyJF";
  src: url("../assets/fonts/UTM-ViceroyJF.ttf");
}

.white-blur {
  opacity: 0.5;
}

.page-padding {
  padding: 1rem 1rem;

  @include responsive($breakpoint: $breakpoint-md) {
    padding: 1rem 18vw !important;
  }
  @include responsive($breakpoint: $breakpoint-xl) {
    padding: 1rem 20vw !important;
  }
}
.page-margin {
  margin: 1rem 1rem;

  @include responsive($breakpoint: $breakpoint-md) {
    margin: 1rem 18vw !important;
  }
  @include responsive($breakpoint: $breakpoint-xl) {
    margin: 1rem 20vw !important;
  }
}

.flex--right {
  align-self: flex-end;
  text-align: right;
}

.flex--left {
  text-align: left;
  align-self: flex-start;

  @include responsive($breakpoint: $breakpoint-md) {
    flex-direction: row-reverse !important;
  }
}
