$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$color-white: white;
$color-black: black;
$color-gray-banner-bg: #f1f1f1;
$color-gray-line: #adb5bd;
$color-gray-light: #ced4da;
$color-gray-dark: #495057;
$color-main: #789629;
$color-white-trans-70: rgba(255, 255, 255, 0.7);
$color-black-footer-bgc: #222f3e;
$color-red-highlight: #ee5253;
$color-gray-form-bgc: #e9ecef;

$font-roboto: "Roboto", sans-serif;
$font-open-san: "Open Sans", sans-serif;
$font-Androgyne: "Androgyne", sans-serif;
$font-ViceroyJF: "ViceroyJF", sans-serif;
