main.main {
  padding: 0;
  width: auto;
  margin: 1rem 2rem;
}

ul.main__promotion-list {
  padding-left: 0;
  @include flex();
}

.line {
  width: 100%;
  border-bottom: 0.15rem solid $color-gray-line;
}

.promotion__item {
  @include flex($gap: 3rem);
  padding: 2rem 0;

  p {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 500;
    width: 40vw;
  }

  i {
    font-size: 3rem;
  }
}

.main__static-blog {
  padding: 0;
}

.static-blog__item {
  padding: 0;
  width: 100vw;
  margin-bottom: 2rem;
}

section.main__feedback {
  background-image: url("../assets/images/bgc_feedback.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 4rem;
}

div.feedback__content {
  background-color: $color-white-trans-70;
  p {
    padding: 0 3rem;
    font-size: 1.2rem;
  }
  i {
    font-size: 2rem;
  }
}

div.feedback__author {
  @include flex($gap: 1rem);
  background-color: $color-white-trans-70;
  padding: 2rem 0;

  .author__avatar {
    height: 7rem;
    width: auto;
  }

  .author__info-box {
    .author__name {
      color: #868e96;
      margin: 0;
    }
    .author__position {
      @extend .author__name;
    }
  }
}

.main__category {
  background-image: url("../assets/images/category__bgc.png");
  background-size: auto;
  background-repeat: repeat;
  background-position: top;
  gap: 1rem;

  padding: 5rem 0;
  border-bottom: 1px solid $color-gray-line;
  border-top: 1px solid $color-gray-line;

  .line__box {
    @include flex;
  }

  .category__tag {
    font-size: 1.8rem;
    color: $color-gray-line;
    font-family: $font-Androgyne;
  }
  h2.category__tag {
    color: $color-main;
    font-size: 2.4rem;
  }
}

.category__items {
  @include flex($gap: 0.5rem);
  flex-wrap: wrap;
  font-size: 1.6rem;
  .category__item {
    @include flex($jutify: flex-start, $gap: 1rem);

    i {
      font-size: 0.7rem;
      color: $color-gray-line;
    }

    p {
      margin: 0;
      color: $color-gray-line;
    }
  }
}

.category__product {
  @include flex($direction: column, $gap: 0.5rem);
  background-color: $color-white;
}

.main__more-info {
  @include flex($direction: column, $gap: 3rem);
  padding: 3rem 0;

  .more-info__contacts {
    @include flex($jutify: space-around);

    .more-info__contact {
      @include flex($gap: 1rem);

      p {
        margin: 0;
      }
    }
  }

  .more-info__aboutus {
    @include flex($direction: column, $gap: 1rem);

    .aboutus__title {
      font-size: 1.6rem;
      font-weight: bold;
    }
    .aboutus__sub-title {
      font-size: 1.3rem;
      font-weight: bold;
      align-self: flex-start;
    }

    .logo-box {
      @include flex($align: flex-start, $jutify: flex-start, $gap: 0.5rem);
      align-self: flex-start;
      margin: 2rem 0;
    }

    .aboutus__more {
      align-self: flex-start;
      color: $color-gray-line;
      text-decoration: none;
    }
  }
}

.more-info__blog {
  @include flex($direction: column);

  .blog__title {
    font-size: 1.6rem;
    font-weight: bold;
  }

  .blog__image {
    margin: 2rem 0;
  }

  .blog__sub-title,
  .blog__info,
  .blog__more {
    align-self: flex-start;
  }

  .blog__more,
  .blog__info {
    color: $color-gray-line;
    text-decoration: none;
  }

  .blog__more {
    border-top: solid 1px $color-gray-line;
    width: 100%;
    padding-top: 0.5rem;
  }
}

.other__mailing {
  @include flex($direction: column, $gap: 1rem);
  margin-bottom: 3rem;

  button {
    padding: 0.5rem 2rem;
  }
}

.other__tag-product {
  @include flex($direction: column, $gap: 1rem);
  .tag-product__box {
    @include flex($gap: 0.5rem, $jutify: flex-start);
    flex-wrap: wrap;
    padding-top: 2rem;
  }
}
