mixin breadcrum()
  div.breadcrumb__wrapper.page-margin(style="--bs-breadcrumb-divider: '>';", aria-label='breadcrumb')
    ol.breadcrumb
      li.breadcrumb-item Home
      li.breadcrumb-item Sản phẩm
      li.breadcrumb-item(aria-current='page') Trang Sức
