mixin pagation()
  .pagation-box
    .pagation--left
      i.fa-solid.fa-border-all
      i.fa-solid.fa-list
    .pagation--right
      i.fa-solid.fa-caret-left
      p.pagation__page.active 1
      p.pagation__page 2
      p.pagation__page 3
      i.fa-solid.fa-caret-right
