mixin productBtn()
  .product__btn-box 
    button.btn.btn-outline-dark.btn__add MUA HÀNG
    button.btn.btn__like
      i.fa-solid.fa-heart
    button.btn.btn-outline-dark.btn__load
      i.fa-solid.fa-rotate
