extends ../base/base.pug
block productsLayout 
  .app
    include ../partials/header.pug
    main.products-page
      +breadcrum()
      .products-page__banner-box.d-none.d-xl-block
        img(src="../assets/images/grid_list_banner.png", alt="banner")
      .product-list__wrapper.container-fluid.page-padding
        .row
          include ../partials/sidebar.pug
          block content
    include ../partials/footer.pug
